* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    background-color: #FAFAFA;
}


.container {
    max-width: 600px;
    margin: auto;
    gap: 50px 50px;
    background-color: #ffffff;
    padding: 50px ;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}