{% extends "core/main.html" %}
{% block content %}

<div class="header-bar">
    <h1>REGISTER</h1>
</div>

<div class="register-container">

    <form method="POST" action="">

        {% csrf_token %}

            <label>{{form.username.label}}</label>
            <div class="field-container">
                {{form.username}}
            </div>

            <label>{{form.password1.label}}</label>
            <div class="field-container">
                {{form.password1}}
            </div>

            <label>{{form.password2.label}}</label>
            <div class="field-container">
                {{form.password2}}
            </div>

        <div class="reg-button-container">
            <button type="submit">REGISTER</button>
        </div>

        <p>
            Already have an account?
            <a href="{% url 'login' %}">Login</a>
        </p>

    </form>

</div>

{% endblock content %}