{% extends "core/main.html" %}
{% load static %}
{% block content %}


    <div class="header">

        <div class="greet-section">
            <h1>
                Hello, {{ request.user|title }}
            </h1>
            <h3 style="margin: 0px;">
                [incompleted tasks]: <i>{{ incomplete_count }}</i>
            </h3>            
        </div>
 
        {% if request.user.is_authenticated %}
            <form method="POST"action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="authentication">LOGOUT</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}" class="authentication">LOGIN</a>
        {% endif %}

    </div>


<div class="main-section">

    <div>

        <a href="{% url 'create-task' %}">Add New Task</a>
        <form method="GET" action="">
            <input type="text" name="search-area" value="{{ search_input }}">
            <button type="submit">SEARCH</button>
        </form>

    </div>

<div class="task-items-container">

    {% for task in tasks %}
        <div class="task-wrapper">

            <div class="completion-icon-title">
                
                {% if task.completion_status %}
                    <div class="task-completion-icon"></div>
                    <div class="task-title">
                        <i><s>{{ task.title }}</s></i>
                    </div>
                {% else %}
                <div class="task-incompletion-icon"></div>
                <div class="task-title">
                    {{ task.title }}
                </div>
                {% endif %}

            </div>

            <div class="actions-container">

                <a href="{% url 'task' task.id %}">
                    <img class="btn-img" src="{% static 'icons/view_details_icon.png' %}" alt="">
                </a>
                <a href="{% url 'update-task' task.id %}">
                    <img class="btn-img" src="{% static 'icons/edit_icon.png' %}" alt="">
                </a>
                <a href="{% url 'delete-task' task.id %}">
                    <img class="btn-img" src="{% static 'icons/delete_icon.png' %}" alt="">
                </a>

            </div>
        </div>
    {% endfor %}

</div>

<!-- </div>
    
    <table>
        <tr>
            <th>Tasks</th>
        </tr>

        {% for task in tasks %}
            <tr>
                <td>{{ task.title }} | {{ task.completion_status }}</td>
                <td><a href="{% url 'task' task.id %}">Detail</a></td>
                <td><a href="{% url 'update-task' task.id %}">Edit</a></td>
                <td><a href="{% url 'delete-task' task.id %}">Delete</a></td>
            </tr>
            {% empty %}
            <h3>No tasks in task list</h3>
        {% endfor %}
    </table>

</div> -->

{% endblock content %}