{% extends "core/main.html" %}
{% block content %}

<div class="header-bar">
    <a href="{% url 'tasks' %}">&#8592; BACK</a>
</div>

<div class="task-detail-container">

    <div class="sub-detail-container">
        <h2>TASK TITLE:</h2>
        <h3>{{task.title}}</h3>
    </div>

    <div class="sub-detail-container">
        <h2>TASK DESCRIPTION:</h2>
        <h3>{{task.description}}</h3>
    </div>

    <div class="sub-detail-container">
        <h2>TASK STATUS:</h2>
        <div class="status-container">
            {% if task.completion_status %}
                <h3 class="completed-status">COMPLETED</h3>
            {% else %}
                <h3 class="incompleted-status">INCOMPLETED</h3>
            {% endif %}
        </div>
    </div>

</div>

{% endblock content %}