<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
    
    {% if request.user.is_authenticated %}
        <h1>USERNAME: [{{ request.user }}]</h1>
        <form method="POST"action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">LOGOUT</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">LOGIN</a>
    {% endif %}
    
    <hr>

    <h1>TODO TASK LIST</h1>

    <a href="{% url 'create-task' %}">Add New Task</a>

    <table>
        <tr>
            <th>Tasks</th>
        </tr>

        {% for task in tasks %}
            <tr>
                <td>{{ task.title }} | {{ task.completion_status }}</td>
                <td><a href="{% url 'task' task.id %}">Detail</a></td>
                <td><a href="{% url 'update-task' task.id %}">Edit</a></td>
                <td><a href="{% url 'delete-task' task.id %}">Delete</a></td>
            </tr>
            {% empty %}
            <h3>No tasks in task list</h3>
        {% endfor %}
    </table>

</body>
</html>